.chat {
  display: block;

  @media (min-width: $laptop) {
    //margin-bottom: 50px;
  }
}

.chat__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: $laptop) {
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    width: 1160px;
  }

  @media (min-width: 1440px) {
    //width: 1310px;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
  }
}

.chat__images {
  width: 100%;
  max-width: 649px;
  height: 238px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    width: 768px;
    height: 571.62px;
    max-width: 768px;
  }

  @media (min-width: $laptop) {
    width: 610px;
    height: 463px;
  }

  @media (min-width: 1440px) {
    //width: 669px;
    //height: 504px;
    max-width: 100%;
    width: 50%;
    height: 678px;
  }
}

.chat__images-item {
  width: 100%;
  height: 100%;
  max-width: 649px;
  background-position: center;
  background-size: cover;

  @media (min-width: $tablet) {
    max-width: 768px;
  }

  @media (min-width: 1440px) {
    max-width: none;

  }
}

.chat__box {
  width: 280px;
  margin: 0 auto;
  height: 340px;
  padding: 40px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @media (min-width: $tablet) {
    width: 515px;
    height: 480px;
    margin: 0;
  }

  @media (min-width: $laptop) {
    padding: 67px 0;
    margin: 0 auto;
    height: 540px;
  }

  @media (min-width: 1440px) {
    //width: 515px;
    width: 45%;
  }
}

.chat__box-item {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
  transition: all .7s ease;
  position: relative;

  & .chat__bg {
    position: relative;
    &:after {
      content: '';
      width: 13px;
      height: 22px;
      position: absolute;
      right: -13px;
      bottom: 0;
      background: url("../img/chat/client-chat.svg") no-repeat center;
    }
  }

  &:nth-child(2n) {
    flex-direction: row-reverse;

    & .chat__bg {
      background: #7E9893;

      &:after {
        content: '';
        width: 15px;
        height: 23px;
        position: absolute;
        left: -13px;
        bottom: 0;
        background: url("../img/chat/boris-chat.svg") no-repeat center;
      }
    }
  }

  @media (min-width: $tablet) {
    margin-bottom: 60px;
  }

  @media (min-width: 1440px) {
    width: 481px;
    margin-left: auto;
    margin-bottom: 60px;

    &:nth-child(2n) {
      margin-right: auto;
      margin-left: 0;
    }
  }

  &.hide-animation {
    animation: hide .7s ease forwards;
  }
}

@keyframes hide {

  100% {
    opacity: 0;
    pointer-events: none;
  }
}

.chat__bg {
  width: 219px;
  height: auto;
  background: #FEB58A;
  padding: 8px;

  @media (min-width: $tablet) {
    width: 403px;

    padding: 13px 22px;
  }

  @media (min-width: 1440px) {
    width: 380px;
    padding: 14px;
  }
}

.chat__avatar {
  width: 37px;
  height: 37px;

  @media (min-width: $tablet) {
    width: 68px;
    height: 68px;
  }

  @media (min-width: 1440px) {
    width: 76px;
    height: 76px;
  }
}

.chat__text {
  font-size: 12px;
  line-height: 14px;
  font-family: $lato;
  color: #fff;
  display: inline;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 25px;
  }

  @media (min-width: 1440px) {
    font-size: 18px;
    line-height: 25px;
  }
}

template {
  display: none !important;
}
