mixin chat(data)
    section.chat
        .chat__container.container
            .chat__images
                .chat__images-item(style="background-image: url('../img/chat/bg1.jpg')")
            .chat__box
                .chat__box-item
                    .chat__bg
                        p.chat__text Здравствуйте, у меня болит зуб, хочу записаться на приём
                    img(src="../img/chat/user.png").chat__avatar

                .chat__box-item
                    .chat__bg
                        p.chat__text Добрый день. В ближайшие даты есть свободные окошки для Вас
                    img(src="../img/chat/logo.png").chat__avatar

                .chat__box-item
                    .chat__bg
                        p.chat__text В какую цену осмотр зуба?
                    img(src="../img/chat/user.png").chat__avatar

                .chat__box-item
                    .chat__bg
                        p.chat__text Осмотр зуба — бесплатно. Обсудим вместе лечение, ответим на все ваши вопросы
                    img(src="../img/chat/logo.png").chat__avatar

