mixin chat(data)
    section.chat
        .chat__container.container
            .chat__images
                .chat__images-item(style="background-image: url('../img/chat/bg1.jpg')")
            .chat__box
                .chat__box-item
                    .chat__bg
                        p.chat__text
                    img(src="../img/chat/user.png").chat__avatar

                .chat__box-item
                    .chat__bg
                        p.chat__text
                    img(src="../img/chat/logo.png").chat__avatar

                .chat__box-item
                    .chat__bg
                        p.chat__text
                    img(src="../img/chat/user.png").chat__avatar

                .chat__box-item
                    .chat__bg
                        p.chat__text
                    img(src="../img/chat/logo.png").chat__avatar

                .chat__box-item
                    .chat__bg
                        p.chat__text
                    img(src="../img/chat/user.png").chat__avatar

                .chat__box-item
                    .chat__bg
                        p.chat__text
                    img(src="../img/chat/logo.png").chat__avatar

                .chat__box-item
                    .chat__bg
                        p.chat__text
                    img(src="../img/chat/user.png").chat__avatar

                .chat__box-item
                    .chat__bg
                        p.chat__text
                    img(src="../img/chat/logo.png").chat__avatar
