mixin lenta(data)
    section.lenta(class=data.class)
        .lenta__box
            .lenta__item Лечение без боли
            .lenta__item Здоровые зубы
            .lenta__item Уверенная улыбка
            .lenta__item Гарантия качества
            .lenta__item Лечение без боли
            .lenta__item Здоровые зубы

        .lenta__box
            .lenta__item Лечение без боли
            .lenta__item Здоровые зубы
            .lenta__item Уверенная улыбка
            .lenta__item Гарантия качества
            .lenta__item Лечение без боли
            .lenta__item Здоровые зубы

        .lenta__box
            .lenta__item Лечение без боли
            .lenta__item Здоровые зубы
            .lenta__item Уверенная улыбка
            .lenta__item Гарантия качества
            .lenta__item Лечение без боли
            .lenta__item Здоровые зубы

        .lenta__box
            .lenta__item Лечение без боли
            .lenta__item Здоровые зубы
            .lenta__item Уверенная улыбка
            .lenta__item Гарантия качества
            .lenta__item Лечение без боли
            .lenta__item Здоровые зубы
