.lenta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 77px;
  width: 2000px;
  background: #fff;
  overflow: hidden;

  @media (min-width: $tablet) {
    width: 2500px;
  }

  @media (min-width: $laptop) {
    height: 100px;
    width: 4000px;
  }

  @media (min-width: 1920px) {
    width: 5000px;
  }
}

.lenta__box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  //width: 50%;
  width: auto;
  height: 100%;
  animation: lenta 100s linear infinite;

  &:nth-child(2) {

  }
}

@keyframes lenta {
  0% {
    transform: translateX(160%);
  }

  100% {
    transform: translateX(-380%);
  }
}



.lenta__item {
  font-size: 18.6667px;
  line-height: 28px;
  font-family: $oswald;
  color: #7E9893;
  text-transform: uppercase;
  margin: 0 40px;
  position: relative;
  white-space: nowrap;

  &:nth-child(2n) {
    color: #fff;
    text-shadow: 0 0 2px #7E9893;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -45px;
    width: 7px;
    height: 7px;
    background: #7E9893;
  }

  &:last-child {
    &:after {
      //display: none;
    }
  }
}

.lenta.left {

  display: none;

  @media (min-width: $laptop) {
    display: block;
    width: 1305px;
    top: 1305px;
  }
  transform-origin: top left;
  transform: rotate(-90deg);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  background: #fff;
  border: 1px solid #7E9893;
}
