mixin popup(data)
    div.popup
        .popup__content
            .popup__close.js-close-popup
            .popup__content-box
                .popup__content-top Наш администратор ответит на все ваши вопросы. Позвоните и запишитесь на бесплатный осмотр.

                .popup__content-bot
                    a(href="tel:89199989919").popup__number +7 (919) 998-99-19
                    a(href="tel:84989175547").popup__number +7 (498) 917-55-47
