@import "src/static/sass/basic/common";
.container {
  @media (min-width: 1440px) {
    width: 1310px;
    margin: 0 auto;
  }
}

.main {
  @media (min-width: $laptop) {
    margin-left: 132px;
  }
}
