include ../card/card
include ../card-slider/card-slider
mixin third(data)
    section.third.container
        +card({
            bg: '../img/card/lazer.jpg',
            title: 'Лазерная терапия',
            cardHref: './lazer.html'
        })
        +card({
            bg: '../img/card/prosthesis.jpg',
            title: 'Протезирование зубов',
            cardHref: './prosthetics.html'
        })
        +card({
            bg: '../img/card/caries.jpg',
            title: 'Лечение кариеса',
            cardHref: './caries.html'
        })
        +card({
            bg: '../img/card/x-ray.jpg',
            title: 'Рентгенологическое исследование',
            cardHref: './x-ray.html'
        })

        +card({
            bg: '../img/card/whitening.jpg',
            title: 'Отбеливание зубов',
            cardHref: './whitening.html'
        })

        +card-slider({
            title: 'СОВЕТЫ',
            items: [
                'Если не получается удалить мягкий налет при помощи зубной щетки, нужно пройти процедуру профессиональной гигиены полости рта',
                'Зубная паста подбирается индивидуально в зависимости от состояния полости рта, качества воды, образа жизни и питания. Чтобы правильно подобрать для себя пасту — обратитесь к врачу',
                'После чистки зубов обязательно используйте ополаскиватель для полости рта. Его применение усиливает действие зубной пасты и обеспечивает лучшую защиту от внешних факторов в течение суток',
                'Три основных движения, которые нужно использовать при чистке зубов: <br/> 1. выметающее — от десен сверху вниз, нижние — снизу вверх 2. вращательное — по часовой стрелке 3. горизонтальное',
                'Как часто проводить профессиональную чистку зубов , зависит от вашего образа жизни. Чистка удалит камни и налёт. При процедуре используются отбеливающие препараты — ваши зубы будут здоровые и белоснежные',
            ]
        })

