include ../card/card
include ../card-slider/card-slider
mixin third(data)
    section.third.container
        +card({
            bg: '../img/card/lazer.jpg',
            title: 'Лазерная терапия',
            cardHref: './lazer.html'
        })
        +card({
            bg: '../img/card/prosthesis.jpg',
            title: 'Протезирование зубов',
            cardHref: './prosthetics.html'
        })
        +card({
            bg: '../img/card/caries.jpg',
            title: 'Лечение кариеса',
            cardHref: './caries.html'
        })
        +card({
            bg: '../img/card/x-ray.jpg',
            title: 'Рентгенологическое исследование',
            cardHref: './x-ray.html'
        })

        +card({
            bg: '../img/card/whitening.jpg',
            title: 'Отбеливание зубов',
            cardHref: './whitening.html'
        })

        +card-slider({
            title: 'СОВЕТЫ',
            items: [
                'Успешная работа нашей частной клиники с 2016 г. У каждого нашего врача опыт более 20 лет',
                'Анестезирующие средства заблокируют любые неприятные ощущения',
                'Предоставляем сертификаты ко всем нашим препаратам',
                'Конкурентные цены. Проводим акции на услуги и скидки пенсионерам',
                'В клинике установлено новое современное оборудование',
                'Выдаем гарантии качества, чтобы вы всегда были уверены в нашей работе'
            ]
        })

