extends template/_layout
include ../components/header/header
include ../components/lenta/lenta
include ../components/footer/footer
block vars
    - var title = "Лечение кариеса";


block content

    +header({inner: true})
    +lenta({
        class: 'left'
    })

    section.inner__section
        nav.inner__nav
            a(href="./index.html").nav__link Главная
            a(href="./index.html#services").nav__link  Услуги
            span.nav__link Лечение кариеса

        .inner__box
            img(src="../img/inner/caries.jpg").inner__avatar

            .inner__info
                .inner__info-text
                    h1.inner__title Лечение кариеса

                    ul.inner__implant-list
                        li.inner__implant-item.inner__implant-item--normal Пломба на дополнительную полость 1000 ₽
                        li.inner__implant-item Запечатывание фиссур 1000 ₽
                        li.inner__implant-item Временная пломба 300 ₽
                        li.inner__implant-item Восстановление зуба пломбой от 4000 ₽
                        li.inner__implant-item Поверхностный кариес 2500 ₽
                        li.inner__implant-item Средний кариес 3000 ₽
                        li.inner__implant-item Глубокий кариес 3500 ₽
                        li.inner__implant-item Реставрация зуба 4500 ₽
                        li.inner__implant-item.inner__implant-item--normal  Инструментальная и медикаментозная обработка каналов от 1000 ₽

                a(href="#").button__sig-up.inner__info-btn  Записаться на бесплатный приём

        .inner__bottom.inner__bottom--vennering
            .veneer__info Кариес — это размягчение зубной эмали. Главная цель для тех, кого беспокоит кариес — не допустить осложнения в виде пульпита и периодонтита. Лечение любого вида кариеса, в том числе и глубокого, можно провести за одно посещение.
            .veneer__commends
                h3.veneer__info-title Стоматолог назначает процедуру в случае:
                ul.veneer__list
                    li.veneer__list-item После хирургического удаления зуба
                    li.veneer__list-item При периоститах
                    li.veneer__list-item После кюретаже



        +footer()
