extends template/_layout
include ../components/header/header
include ../components/second/second
include ../components/third/third
include ../components/lenta/lenta
block vars
  - var title = "Главная";


block content

  +header()
  +second()
  +lenta()
  +third()
