extends template/_layout
include ../components/header/header
include ../components/welcome/welcome
include ../components/second/second
include ../components/third/third
include ../components/lenta/lenta
include ../components/chat/chat
block vars
  - var title = "Главная";


block content

  +header()
  main.main
    +welcome()
    +second()
    +lenta()
    +third()
    +chat()
