extends template/_layout
include ../components/header/header
include ../components/second/second
include ../components/third/third
block vars
  - var title = "Главная";


block content

  +header()
  +second()
  +third()
