extends template/_layout
include ../components/header/header
include ../components/welcome/welcome
include ../components/second/second
include ../components/third/third
include ../components/lenta/lenta
include ../components/chat/chat
include ../components/personal/personal
include ../components/footer/footer
block vars
  - var title = "Главная";


block content

  +header({inner: false})
  main.main
    +welcome()
    +second()
    +lenta({
      class: ''
    })
    +lenta({
      class: 'left'
    })
    //+third()
    +chat()
    +personal()
    +footer()
