extends template/_layout
include ../components/header/header
block vars
    - var title = "Лечение пульпита";


block content

    +header()

    section.inner__section
        nav.inner__nav
            a(href="./index.html").nav__link Главная
            a(href="./index.html#services").nav__link  Услуги
            span.nav__link Лечение пульпита

        .inner__box
            img(src="../img/inner/pulpit.jpg").inner__avatar

            .inner__info
                .inner__info-text
                    h1.inner__title Лечение пульпита

                    ul.inner__pulpit-list
                        li.inner__pulpit-item 1-канальный зуб 4000 ₽*
                        li.inner__pulpit-item 2-канальный зуб 5000 ₽*
                        li.inner__pulpit-item 2-канальный зуб 7000 ₽*
                        li.inner__pulpit-item 2-канальный зуб 7500 ₽*

                    p.inner__pulpit-past Наложение девитализирующей пасты 400 ₽
                    p.inner__pulpit-subinfo *В сумму включены: рентген, анестезия, обтурация корневых каналов, временная пломба

                a(href="#").button__sig-up.inner__info-btn  Записаться на бесплатный приём


