extends template/_layout
include ../components/header/header
include ../components/lenta/lenta
include ../components/footer/footer
block vars
    - var title = "Лечение пульпита";


block content

    +header({inner: true})
    +lenta({
        class: 'left'
    })

    section.inner__section
        nav.inner__nav
            a(href="./index.html").nav__link Главная
            a(href="./index.html#services").nav__link  Услуги
            span.nav__link Лечение пульпита

        .inner__box
            img(src="../img/inner/pulpit.jpg").inner__avatar

            .inner__info
                .inner__info-text
                    h1.inner__title Лечение пульпита

                    ul.inner__pulpit-list
                        li.inner__pulpit-item 1-канальный зуб 4000 ₽*
                        li.inner__pulpit-item 2-канальный зуб 5000 ₽*
                        li.inner__pulpit-item 2-канальный зуб 7000 ₽*
                        li.inner__pulpit-item 2-канальный зуб 7500 ₽*

                    p.inner__pulpit-past Наложение девитализирующей пасты 400 ₽
                    p.inner__pulpit-subinfo *В сумму включены: рентген, анестезия, обтурация корневых каналов, временная пломба

                a(href="#").button__sig-up.inner__info-btn  Записаться на бесплатный приём

        .inner__bottom
            h3.inner__bottom-title Воспаление устраняется двумя способами:
            .inner__bottom-box
                .inner__bottom-item
                    .inner__pulp-img-box
                        img(src="../img/inner/pulp-i.png").inner__pulp-img
                    div
                        h4.inner__bottom-subtitle Консервативный метод.
                        p.inner__bottom-text Обнажают пульпу; проводят антибактериальную обработку; накладывают небольшую повязку, пропитанной гидроксидом кальция; устанавливают временную пломбу. В течение нескольких дней состав должен полностью снять воспаление. Для проверки достижения результата делается рентген. Если все успешно, то зуб закрывают постоянной пломбой.


                .inner__bottom-item
                    .inner__pulp-img-box
                        img(src="../img/inner/pulp-i-2.png").inner__pulp-img
                    div
                        h4.inner__bottom-subtitle Хирургическое лечение.
                        p.inner__bottom-text Предполагает удаление нерва. Этот метод более популярен, он применим и на более поздней стадии течения болезни. Возможна полная или частичная ликвидация пульпы.

    +footer()
