extends template/_layout
include ../components/header/header
include ../components/lenta/lenta
include ../components/footer/footer
include ../components/popup/popup

block vars
    - var title = "Винирование зубов";


block content

    +header({inner: true})
    +lenta({
        class: 'left'
    })

    +popup()

    section.inner__section
        nav.inner__nav
            a(href="./index.html").nav__link Главная
            a(href="./index.html#services").nav__link  Услуги
            span.nav__link Винирование зубов

        .inner__box
            img(src="../img/inner/veneer.jpg").inner__avatar

            .inner__info
                .inner__info-text
                    h1.inner__title Винирование зубов

                    ul.inner__veneer-list
                        li.inner__veneer-item Эстетическая моделировка на воске от&nbsp;2000&nbsp;₽&nbsp;—&nbsp;1&nbsp;ед.
                        li.inner__veneer-item Изготовление временной коронки от&nbsp;2500&nbsp;₽&nbsp;—&nbsp;1&nbsp;ед.
                        li.inner__veneer-item Винир цельнокерамический от&nbsp;20&nbsp;000&nbsp;₽&nbsp;—&nbsp;1&nbsp;зуб

                a(href="#").button__sig-up.inner__info-btn  Записаться на бесплатный приём

        .inner__bottom.inner__bottom--vennering
            p.veneer__info Винир — это тонкий микропротез, который изготавливается в специальной лаборатории. Для пациентов «Бористом», наша лаборатория изготавливает безметалловые керамические виниры E-max. Виниры, изготовленные по этой технологии, очень прочные, однородные, не имеют пор. Такие накладки можно сделать очень естественными, даже повторить светопроводимость родных зубов. Они не потемнеют и со временем никак не изменятся. За ними легко ухаживать — виниры не накапливают зубной камень, а чистить их легче, чем обычные зубы. Цельная керамика биосовместима с организмом человека, поэтому десна после реставрации зубов остается здоровой и розовой.

            .veneer__commends
                h3.veneer__info-title В первое время после установки виниров стоит:
                ul.veneer__list
                    li.veneer__list-item Воздержаться от употребления свежих ягод, свеклы, красного вина, крепкого чая, кофе.
                    li.veneer__list-item Лучше отказаться от курения, чтобы идеальный цвет поверхности виниров не превратился в неприятный оттенок.
                    li.veneer__list-item Не стоит грызть твердую пищу: орехи, конфеты. Старайтесь употреблять такую еду маленькими кусочками и жевать ее зубами без виниров.
                    li.veneer__list-item Если вы занимаетесь активными видами спорта — носите защитные капы.
                    li.veneer__list-item Периодически необходимо обращаться в стоматологическую клинику для выполнения профессиональной чистки зубов. Эта процедура способна удалить весь налет.

        +footer()
