mixin header(data)
    header.header.js-header.default
        .logo__box
            img(src='../img/header/icon.svg').logo__img
        h3.header__title Стоматологическая клиника БОРИСТОМ

        button(type="button").header__burger.js-burger
            span.burger__item
            span.burger__item

        .header__menu.js-menu
            .header__numbers
                a(href="tel:89999999999").header__number +7 (919) 998-99-19
                a(href="tel:89999999999").header__number +7 (498) 917-55-47

            if (!data.inner)
                .header__links
                    a(href="#services").header__link Услуги
                    a(href="#personal").header__link Фото
                    //a(href="#").header__link Прайс
                    //a(href="#").header__link Статьи
                    a(href="#contacts").header__link Контакты
            else
                .header__links
                    a(href="./index.html#services").header__link Услуги
                    a(href="./index.html#personal").header__link Фото
                    //a(href="#").header__link Прайс
                    //a(href="#").header__link Статьи
                    a(href="./index.html#contacts").header__link Контакты


        //- .header__left
