.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 59px;
  transition: all .3s ease;
  z-index: 150;
  background: #fff;

  &.active {
    background: #7E9893;

    .burger__item {
      background: #fff;
    }

    & .burger__item:first-child {
      animation: item-1 .7s ease forwards;
    }

    & .burger__item:last-child {
      animation: item-2 .7s ease forwards;
    }

    .header__menu {
      transform: none;
    }

    .header__title {
      color: #fff;
      opacity: 1;
    }
  }

  &.default {
    & .burger__item:first-child {
      animation: item-out .7s ease forwards;
    }

    & .burger__item:last-child {
      animation: item-out-2 .7s ease forwards;
    }
  }


  @media (min-width: $laptop) {
    height: 100px;
    border-bottom: 1px solid #7E9893;
  }
}

.logo__box {
  width: 59px;
  height: 59px;
  background: #7E9893;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  animation: logo 15s linear infinite;

  @media (min-width: $laptop) {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    margin-right: 24px;
  }
}

@keyframes logo {
  0% {
    background: #7E9893;
  }

  12.5% {
    background: #85B7AD;
  }

  25% {
    background: #7AD0C0;
  }

  37.5% {
    background: #89F1DD;
  }

  50% {
    background: #5DECD0;
  }

  62.5% {
    background: #F6A080;
  }

  75% {
    background: #EFB29B;
  }

  87.5% {
    background: #E1AF9C;
  }

  100% {
    background: #7E9893;
  }
}

.logo__img {
  width: 33px;

  @media (min-width: $laptop) {
    width: 55px;
  }
}

.header__title {
  font-family: $latoItalic;
  font-size: 10px;
  line-height: 12px;
  color: #7E9893;
  width: 95px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all .3s ease;

  opacity: 0.7;

  @media (min-width: $laptop) {
    font-size: 16px;
    line-height: 19px;
    width: 156px;
    margin-right: 34px;
  }
}

.header__burger {
  width: 35px;
  height: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  z-index: 50;

  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);

  @media (min-width: $laptop) {
    display: none;
  }
}

@keyframes item-1 {
  0% {
    transform:  translateY(0) rotate(0deg);
  }

  50% {
    transform: translateY(5px) rotate(0deg);
  }

  100% {
    transform: translateY(5px) rotate(45deg);
  }
}

@keyframes item-out {
  0% {
    transform: translateY(5px) rotate(45deg);
  }
  50% {
    transform: translateY(5px) rotate(0deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes item-2 {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  50% {
    transform: translateY(-6px) rotate(0deg);
  }

  100% {
    transform: translateY(-6px) rotate(135deg);
  }
}

@keyframes item-out-2 {
  0% {
    transform: translateY(-6px) rotate(135deg);
  }
  50% {
    transform: translateY(-6px) rotate(0deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}


.burger__item {
  width: 35px;
  height: 3px;
  background: #7E9893;
  display: block;
  transition: all .3s ease;
  border-radius: 6px;
}

.header__menu {
  position: fixed;
  top: 59px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #7E9893;
  padding-top: 28px;
  padding-left: 19px;
  transform: translateX(-100%);

  transition: all .3s ease;

  @media (min-width: $laptop) {
    position: static;
    transform: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    background: #fff;
    margin-right: 30px;
  }
}

.header__numbers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;

  @media (min-width: $laptop) {
    flex-direction: row;
    margin: 0;
  }
}

.header__number {
  color: #fff;
  font-family: $lato;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;

  &:first-child {
    margin-bottom: 26px;
  }

  @media (min-width: $laptop) {
    color: #7E9893;

    &:first-child {
      margin-bottom: 0;
    }

    &:last-child {
      display: none;
    }
  }
}

.header__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: $laptop) {
    flex-direction: row;
    width: 477px;
  }

  @media (min-width: $desktop) {
    width: 950px;
  }
}

.header__link {
  display: block;
  width: 100%;
  font-family: $yannoneReg;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 24px;
  font-weight: normal;
  transition: all .3s ease;

  &:after {
    width: 8px;
    height: 12px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-left: 14px;
    background: url("../img/header/arr.svg") no-repeat center;
  }

  &:hover,
  &:active {
    color: #fff;
  }

  @media (min-width: $laptop) {
    margin: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #000;

    &:after {
      display: none;
    }

    &:hover,
    &:active {
      color: #7E9893;
    }
  }
}


//.header__left {
//  display: none;
//
//  @media (min-width: $laptop) {
//    display: block;
//    position: absolute;
//    top: 132px;
//    left: 0;
//    width: 100px;
//    height: 100vh;
//  }
//}
