.personal {
  display: block;

  @media (min-width: $tablet) {
    margin-bottom: 70px;
  }
}

.personal__container {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $iphone) {
    width: 375px;
  }

  @media (min-width: $tablet) {
    width: 768px;
  }

  @media (min-width: $laptop) {
    width: 1160px;
  }

  @media (min-width: 1440px) {
    width: 1124px;
    //margin-left: 40px;
  }
}

.personal__slider-item {

  @media (min-width: $tablet) {
    & img {
      width: 384px !important;
      height: 285.81px;
    }

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  @media (min-width: $laptop) {
    & img {
      width: 614px !important;
      height: 457px;
    }
  }

  @media (min-width: 1440px) {
    & img {
      width: 614px !important;
      height: 457px;
    }
  }
}

.personal__slider-content {
  height: 186px;
  background: #7E9893;
  padding: 20px;

  @media (min-width: $tablet) {
    width: 302.76px;
    height: 176.38px;
  }

  @media (min-width: $laptop) {
    width: 436px;
    height: 254px;
    padding: 22px 24px;
  }
}

.personal__item-text {
  color: #fff;
  font-family: $lato;
  font-size: 16px;
  line-height: 22px;

  @media (min-width: $laptop) {
    font-size: 22px;
    line-height: 30px;
  }
}

.personal__slider {
  &.owl-carousel {
    & span {
      display: none;
    }

    & button {
      width: 9.52px;
      height: 16.11px;
      position: absolute;
    }

    & .owl-prev {
       background: url('../img/card-slider/arrow.svg') no-repeat center/contain !important;
       position: absolute;
       left: 20px;
       bottom: 20px;
     }

    & .owl-next {
      background: url('../img/card-slider/arrow.svg') no-repeat center/contain !important;
      position: absolute;
      right: 20px;
      bottom: 20px;
      transform: rotate(180deg);
    }

    @media (min-width: $tablet) {
      & .owl-prev {
        left: 488px;
      }

      & .owl-next {
        right: 190px;
      }
    }

    @media (min-width: $laptop) {
      button {
        width: 13px;
        height: 22px;
      }
      & .owl-prev {
        left: 750px;
      }

      & .owl-next {
        right: 300px;
      }
    }
  }


}
