mixin personal(data)
    section.personal#personal
        .container.personal__container
            .personal__slider.owl-carousel
                .personal__slider-item
                    img(src="../img/personal/stepan.jpg")
                    .personal__slider-content
                        p.personal__item-text Степанянц Степан Арамаисович. Кандидат медицинских наук, врач высшей категории. Хирург стоматолог. Практикует с 1994 г.
                .personal__slider-item
                    img(src="../img/personal/nadejda.jpg")
                    .personal__slider-content
                        p.personal__item-text Хохлова Надежда Сергеевна стоматологическая медсестра

                .personal__slider-item
                    img(src="../img/personal/vladimir.jpg")
                    .personal__slider-content
                        p.personal__item-text Власов Владимир Иванович. Доктор медицинских наук. Профессор челюстно-лицевой хирург

                .personal__slider-item
                    img(src="../img/personal/valeria.jpg")
                    .personal__slider-content
                        p.personal__item-text Тарасьянц Валерия Владимировна администратор нашей клиники

                .personal__slider-item
                    img(src="../img/chat/bg1.jpg")
                    .personal__slider-content
                        p.personal__item-text Рентгено-терапевтический кабинет

                .personal__slider-item
                    img(src="../img/personal/hir-cab.jpg")
                    .personal__slider-content
                        p.personal__item-text Хирургический кабинет


                .personal__slider-item
                    img(src="../img/personal/recep.jpg")
                    .personal__slider-content
                        p.personal__item-text Ресепшен и зона ожидания. Здесь мы встречаем наших пациентов


                .personal__slider-item
                    img(src="../img/personal/stepan-2.jpg")
                    .personal__slider-content
                        p.personal__item-text Степанянц Степан Арамаисович. Кандидат медицинских наук , врач высшей категории хирург стоматолог. Практикует с 1994 г.


                .personal__slider-item
                    img(src="../img/personal/cab.jpg")
                    .personal__slider-content
                        p.personal__item-text Хирургический кабинет


                .personal__slider-item
                    img(src="../img/personal/rentgen.jpg")
                    .personal__slider-content
                        p.personal__item-text Рентгено-терапевтический кабинет


